<h2>Edit Contract</h2>

<%= render "form.html", Map.merge(assigns, %{
  action: contract_path(@conn, :update, @contract),
  vendors: to_select_options(@vendors),
  categories: to_select_options(@categories, false),
  button_label: "Update"
}) %>
