<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group <%= state_class(f, :vendor_id) %>">
    <div class="row">
      <div class="col-md-12">
        <%= label f, :vendor_id, class: "control-label" %>
        <%= select f, :vendor_id, @vendors, class: "form-control" %>
        <%= error_tag f, :vendor_id %>
        <%= error_tag f, :vendor %>
      </div>
    </div>
  </div>

  <div class="form-group <%= state_class(f, :category_id) %>">
    <div class="row">
      <div class="col-md-12">
        <%= label f, :category_id, class: "control-label" %>
        <%= select f, :category_id, @categories, class: "form-control" %>
        <%= error_tag f, :category_id %>
        <%= error_tag f, :category %>
      </div>
    </div>
  </div>

  <div class="form-group <%= state_class(f, :costs) %>">
    <div class="row">
      <div class="col-md-12">
        <%= label f, :costs, class: "control-label" %>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <%= number_input f, :costs, [step: 0.01, class: "form-control", min: 0.01] %>
        </div>
        <%= error_tag f, :costs %>
      </div>
    </div>
  </div>

  <div class="form-group <%= state_class(f, :ends_at) %>">
    <div class="row">
      <div class="col-md-12">
          <%= label f, :ends_at, class: "control-label" %>
      </div>
    </div>
    <div class="row">
    <%= date_select f, :ends_at, builder: fn b -> %>
      <div class="col-md-4">
        Year: <%= b.(:year, [options: (Date.utc_today().year)..2050, class: "form-control"]) %>
      </div>
      <div class="col-md-4">
        Month: <%= b.(:month, [class: "form-control"]) %>
      </div>
      <div class="col-md-4">
        Day: <%= b.(:day, [class: "form-control"]) %>
      </div>
    <% end %>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-4">
        <%= error_tag f, :ends_at %>
      </div>
    </div>
  </div>

  <div class="form-group text-center">
    <%= submit @button_label, class: "btn btn-primary text-uppercase" %>
  </div>
<% end %>

<%= render "categories_loader.html" %>