<div class="row vertical-align">
  <div class="col-md-4">
    <h2>My contracts</h2>
  </div>
  <div class="col-md-4 col-md-offset-4">
    <span><%= link "Add contract", to: contract_path(@conn, :new), class: "btn btn-primary text-uppercase" %></span>
  </div>
</div>

<div class="row">
  <hr class="col-xs-12">
</div>

<%= if length(@contracts) > 0 do %>
  <%= for contract <- @contracts do %>
  <a href="<%= contract_path(@conn, :show, contract) %>" class="no-link">
    <div class="row panel panel-default">
      <div class="panel-body">
        <div class="col-md-3">
          <span class="list-item-attr-h">Vendor</span>
          <br>
          <span class="list-item-attr-v"><%= contract.vendor.name %></span>
        </div>
        <div class="col-md-3">
          <span class="list-item-attr-h">Category</span>
          <br>
          <span class="list-item-attr-v"><%= contract.category.name %></span>
        </div>
        <div class="col-md-3">
          <span class="list-item-attr-h">Costs</span>
          <br>
          <span class="list-item-attr-v"><%= format_currency(contract.costs) %></span>
        </div>  
        <div class="col-md-3">
          <span class="list-item-attr-h">Ends on</span>
          <br>
          <span class="list-item-attr-v"><%= format_date(contract.ends_at) %></span>
        </div>
      </div>
    </div>
  </a>
  <% end %>
<% else %>
  <p class="lead">
    Looks like you don't have any active contracts.
    <%= link "Click here to add a new contract.", to: contract_path(@conn, :new) %>
  </p>
<% end%>
