<h2>New contract</h2>

<%= render "form.html", Map.merge(assigns, %{
  action: contract_path(@conn, :create),
  vendors: to_select_options(@vendors, "Please select vendor"),
  categories: to_select_options(@categories, "Please select vendor first"),
  button_label: "Create"
}) %>
