<h2>Contract details</h2>

<div class="container top-buffer">
  <div class="row">
    <div class="col-md-12">
      <span class="content-item-attr-h">Vendor</span>
      <br>
      <span class="content-item-attr-v"><%= @contract.vendor.name %></span>
    </div>
  </div>

  <div class="row top-buffer">
    <div class="col-md-12">
        <span class="content-item-attr-h">Category</span>
        <br>
        <span class="content-item-attr-v"><%= @contract.category.name %></span>
    </div>
  </div>

  <div class="row top-buffer">
    <div class="col-md-12">
      <span class="content-item-attr-h">Costs</span>
      <br>
      <span class="content-item-attr-v"><%= format_currency(@contract.costs) %></span>
    </div>
  </div>

  <div class="row top-buffer">
    <div class="col-md-12">
      <span class="content-item-attr-h">Ends on</span>
      <br>
      <span class="content-item-attr-v"><%= format_date(@contract.ends_at) %></span>
    </div>
  </div>

  <div class="row">
    <hr class="col-xs-12">
  </div>

  <div class="row">
    <div class="col-md-6">
      <span><%= link "Edit", to: contract_path(@conn, :edit, @contract), class: "btn btn-primary text-uppercase" %></span>
    </div>
    <div class="col-md-6">
      <span><%= link "Delete", to: contract_path(@conn, :delete, @contract), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger text-uppercase" %></span>
    </div>
  </div>
</div>