<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello VoldersContractManager!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
      window._apiKey = "<%= VoldersContractManagerWeb.Guardian.Plug.current_token(@conn) %>";
    </script>
  </head>

  <body>
    <div class="container">
      <header class="header">
        <h1>
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
          <span class="app-name">
            <%= link "Contract Manager", to: contract_path(@conn, :index), class: "no-link" %>
          </span>

          <%= if VoldersContractManagerWeb.Guardian.user_signed_in?(@conn) do %>
          <div class="btn-group pull-right">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Contracts <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><%= link "List contracts", to: contract_path(@conn, :index) %></li>
              <li><%= link "Add new contract", to: contract_path(@conn, :new) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link "Sign out", to: user_path(@conn, :signout) %></li>
            </ul>
          </div>
          <% end %>
        </h1>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
  </body>
</html>
