.list-item-attr-h {
  font-size: 0.8em;
  font-weight: bold;
}
.list-item-attr-v {
  font-size: 1.2em;
}

.content-item-attr-h {
  font-size: 1.0em;
  font-weight: bold;
}
.content-item-attr-v {
  font-size: 1.2em;
}

a.no-link, a.no-link:hover {
  text-decoration: none;
  color: inherit;
}

.top-buffer {
  margin-top: 20px;
}

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

.app-name {
  margin-left: 30px;
}

.help-block::first-letter {
  text-transform: capitalize;
}

.vertical-align {
  display: flex;
  align-items: center;
}