<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group <%= state_class(f, :name) %>">
    <%= label f, :name, "Full Name", class: "control-label" %>
    <%= text_input f, :name, [class: "form-control", placeholder: "Type your name"] %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group <%= state_class(f, :email) %>">
    <%= label f, :email, class: "control-label" %>
    <%= text_input f, :email, [class: "form-control", placeholder: "Your email address"] %>
    <%= error_tag f, :email %>
  </div>

  <div class="form-group <%= state_class(f, :password) %>">
    <%= label f, :password, class: "control-label" %>
    <%= password_input f, :password, class: "form-control" %>
    <%= error_tag f, :password %>
  </div>

  <div class="form-group <%= state_class(f, :password_confirmation) %>">
    <%= label f, :password_confirmation, class: "control-label" %>
    <%= password_input f, :password_confirmation, class: "form-control" %>
    <%= error_tag f, :password_confirmation %>
  </div>

  <div class="form-group">
    <div class="col-md-2 col-md-offset-5">
      <%= submit "Sign up", class: "btn btn-primary text-uppercase" %>
    </div>
  </div>
<% end %>
