<h2>Sign in</h2>

<%= form_for @conn, user_path(@conn, :login), fn f -> %>

  <div class=form-group>
    <%= label f, :email, class: "control-label" %>
    <%= text_input f, :email, [class: "form-control", placeholder: "Your email address"] %>
  </div>

  <div class="form-group">
    <%= label f, :password, class: "control-label" %>
    <%= password_input f, :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-2 col-md-offset-5">
        <%= submit "Sign in", class: "btn btn-primary text-uppercase" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7 col-md-offset-3">
      <%= link "Not a registered user yet? Click here to sign up.", to: user_path(@conn, :new) %>
    </div>
  </div>
<% end %>